---
import MainTemplate from '../layouts/MainTemplate.astro';
import DateAvailability from '../components/DateAvailability.astro';

import LogoScroller from '../components/LogoScroller.astro';
import RandomGallery from '../components/RandomGallery.astro';
import Testimonial from "../components/Testimonial.astro";



// images
import { Image } from "astro:assets";

import beaverHero from '../assets/homepage/beaver-cartoon.svg';
import bottomHero from '../assets/homepage/hero-bottom.svg';

//data
import { testimonialData } from "../data/testimonials.js";

---

<MainTemplate>
	  <!-- HERO SECTION -->
	  <main>
	  <body class="container">
		<section class="hero-container hero-image">
			<div class="hero-image">
			<h1>
			  Branding that Helps you <span class="--green-text">Grow</span> your
			  Cannabiz
			</h1>
			<p class="sub-hero-text">
			  Turn heads with our human-designed logos, print stuff and websites
			  built for cannabis brands. Make a memorable impression that’ll keep
			  customers coming back while you focus on what matters most.
			</p>
			<a href="#"
			  ><button class="btn hero__cta">Free Brainstorm Session</button></a
			>
			<DateAvailability />

			<Image src={beaverHero} class="beaver-basic" alt="Beaver Cartoon" />
		  </div>
			
		  <Image src={bottomHero} class="hero-bottom" alt="bottom hero decor" />
		</section>
	
		<!-- END OF HERO SECTION -->
	
		<section class="sub-hero-container">
		  <div class="sub-hero">
			<LogoScroller />

			  <RandomGallery />
			  
			  	  <!-- Testimonials -->
			  <div class="test-container">
				{testimonialData.map((testimonial) => (
				  <Testimonial testimonial={testimonial} />
				))}
			  </div>
</div>
</div>
		</section>
	  </main>
</MainTemplate>
