---
import { Image } from 'astro:assets';

// Import all images
const images = import.meta.glob('../assets/homepage/gallery/*.{png,jpg,jpeg,webp}', {
  eager: true,
});

// Convert images to an array of image objects with original dimensions
const imageArray = Object.entries(images).map(([path, img]) => ({
  src: img.default,
  alt: path.split('/').pop().split('.')[0],
  originalWidth: img.default.width,
  originalHeight: img.default.height
}));

// Select a random set of 9 unique images
const randomImages = imageArray
  .sort(() => 0.5 - Math.random())
  .slice(0, 9)
  .map((image, index) => ({
    ...image,
    // Make the first image larger
    isLarge: index === 0
  }));
---

<div class="image-collage">
  {randomImages.map((image) => (
    <Image 
      src={image.src} 
      alt={image.alt}
      class="collage-image"
      width={image.isLarge ? 600 : 300}
      height={image.isLarge ? 600 : 300}
    />
  ))}
</div>

<style>
.image-collage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1.2rem;
}

.collage-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-purple-darkest);
}

.collage-image:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
</style>